<!--POSThttps://twinword-sentiment-analysis.p.mashape.com/analyze/
curl -X POST --include 'https://twinword-sentiment-analysis.p.mashape.com/analyze/' \
  -H 'X-Mashape-Key: EiFKUp9ROymshrUthQlrkwSWWM7lp1OsBRCjsno44Cct6gKP8V' \
  -H 'Content-Type: application/x-www-form-urlencoded' \
  -H 'Accept: application/json' \
  -d 'text=great value in its price range!'-->


<% include ./partials/header.ejs%>
<form class="container-fluid col-md-offset-2" method="POST" action="/questionaire">
  <div class="form-group col-md-10">
    <label> What has been on your mind today / General statement </label>
    <input id="q1" type="textarea" class="form-control" name="q1">
  </div>
  <div class="form-group col-md-10">
    <label><%=currentUser.goals[0] %></label>
    <input id="q2" type="textarea" class="form-control" name="q2">
  </div>
  <div class="form-group col-md-10">
    <label><%=currentUser.goals[1] %></label>
    <input id="q3" type="textarea" class="form-control" name="q3">
  </div>
  <div class="form-group col-md-10">
    <label><%=currentUser.goals[2] %></label>
    <input id="q4" type="textarea" class="form-control" name="q4">
  </div>

  <button type="submit" id="btn" class="btn btn-success col-xs-2 col-md-offset-1" >Submit</button>
</form>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Today's Results</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
        <h3>Overall</h3>
        <h3><small><% %></small></h3>
        <h3><small><% %></small></h3>
        <p></p>

        <h3><%=currentUser.goals[0] %></h3>
        <h3><small><% %></small></h3>
        <h3><small><% %></small></h3>
        <p></p>

        <h3><%=currentUser.goals[1] %></h3>
        <h3><small><% %></small></h3>
        <h3><small><% %></small></h3>
        <p></p>

        <h3><%=currentUser.goals[2] %></h3>
        <h3><small><% %></small></h3>
        <h3><small><% %></small></h3>
        <p></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% include ./partials/footer.ejs %>